.App {
  text-align: center; 
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {
  box-sizing: border-box;
}

.Fav__window {
  font-size: 1.5rem;
  position: absolute;
  top: 22%;
  left: 22%;
  margin: 15px;  
  background-color: white;  
  padding: 0.8rem;
  border: 0.2rem solid black;
  width: 55%;
  line-height: 25px;
}